*{
  box-sizing: border-box;
  font-family: Verdana;
}

header{
  background-color: silver; 
  text-align: center;
  padding: 30px;
  font-size: 2em;
  
}


#phil{
  width: 95%;
  height: 150px;
}

.parameter{
  margin: 10px auto ;
  /* border: 1px solid aqua; */ 
  width: 90%;
  /* margin: auto; */
}

.parameterLabel{
  width: 50%;
  /* border: 1px solid green; */
  float: left;
  text-align: right;
}
.parameterContent{
  margin-left: 51%;
  /* border: 1px solid black; */
  padding-top: 2px;
}
label{
  display:block;
}

#footer .parameterContent{
  padding-left: 50px;
}