/* TODO New Rule: Select the body element and set the font family to "Helvetica Neue", Arial, Helvetica, sans-serif */
body{font-family: "Helvetica Neue", Arial, Helvetica, sans-serif}

/* TODO New Rule: Select the h1 that is the child of a header element and also select the footer at the same time.  Set the padding to 5px, the text color to #2034C0 and the background color to #A6A6A6. */
header > h1, footer{padding:5px;color:#2034C0;background-color: #A6A6A6}
/* TODO New Rule: Select all h3 elements and set the width to 410px, all margins to 0, the background color to #203C40, and the text color to white. */
h3{width:410px;margin:0px;background-color:#203C40;color:white}

/* TODO New Rule: Select all p elements and set the line height to 1.4em. */
p{line-height: 1.4em}

/* TODO New Rule: Select all section elements and set the border to a solid one pixel border with the color #203C40, the bottom margin to 10px, and the width to 410px. Float them left and set the right margin to 20px.*/
section{border:solid 1px #203C40;margin-bottom:10px;width:410px;float:left;margin-right:20px} 

/* TODO New Rule: Select the element that has an id of *nav_list* and set the bottom margin to 10px, the padding to 0, and remove the bullets from the list. */
#nav_list{margin-bottom:10px;padding:0px;list-style: none}
    

/* TODO New Rule: Select all li elements that are children of the element that has an id of nav_list and set the padding to 5px, display the element inline, set font weight to bolder, and the background color to #203C40. */
#nav_list > li{padding:5px;display:inline;font-weight:bolder;background-color:#203C40}


/* TODO New Rule: Select all a elements that are children of an li element that is a child of an element that has an id of *nav_list*. Set the text decoration property to none, and color to #FFFFFF. */
#nav_list > li > a{text-decoration: none;color:#FFFFFF}


/* TODO New Rule: Select all a elements that have been visited and that are children of an li element that is a child of an element that has an id of *nav_list*. Set the text color to #A6A6A6. */
#nav_list > li > a:visited{color:#A6A6A6}

/* TODO New Rule: Select the element that has an id of joy and set the font to Copperplate Gothic Light with a size of 14px. */
#joy{font-size:14px;font-family:"Copperplate Gothic Light"}



/* TODO New Rule: Select the element that has an id of fish and set the font to Century Gothic with a size of 16px. */
#fish{font-family:"Century Gothic";font-size:16px}

/* TODO New Rule: Select the element that has an id of sit and set the font to Arial Narrow with a size of 14px. */
#sit{font-family:"Arial Narrow";font-size:14px}


/* TODO New Rule: Select the element that has an id of end and set the font to Courier New with a size of 14px. Set the position to relative, top to -80px, and right to -10px.*/
#end{font-family:"Courier New";font-size:14px;position:relative;top:-80px;right:-10px}


/* TODO New Rule: Select the element that has an id of roads and set the font to Georgia with a size of 16px. */
#roads{font-family: Georgia;font-size:16px}

/* TODO New Rule: Select the element that has an id of sea and set the font to Gill Sans MT with a size of 16px. Set the position to absolute, top to 500px, and left to 1020px. */
#sea{font-family:"Gill Sans MT";font-size:16px;position:absolute;top:500px;left:1020px}


/* TODO New Rule: Select all elements that have a class of center and align the text to the center. */
.center{text-align:center}

/* TODO New Rule: Select all elements that have a class of scroll and set the overflow property to scroll. */
.scroll{overflow:scroll}

/* TODO New Rule: Select all elements that have a class of sm_height and change the height property to 300px. */
.sm_height{height:300px}

/* TODO New Rule: Select all elements that have a class of uppercase and set the text transform property to uppercase. */
.uppercase{text-transform:}

/* TODO New Rule: Select all elements that have a class of italic and change the font style property to italic. */
.italic{font-style:italic}

/* TODO New Rule: Select all elements that have a class of clear that clears both sides of a float. */
.clear{clear:both}