/* TODO New Declaration: Select the *body* element. Set the width to 1200px, margin to 0 auto, font family to "Helvetica Neue", font size to 14px. */
body{
    font-family:"Helvetica Neue", Helvetica, "Liberation Sans", Arial, sans-serif; 
    font-size: 14px;
    width:1200px;
    margin:0 auto;
}


ul{
    padding: 0;
}

/* TODO New Declaration: Select the *header* element. Set the top border to a solid one pixel border with the color rgba(28, 86, 126, .4). */
header{border-top: solid 1px rgba(28, 86, 126, .4)}


/* TODO New Declaration: Select the *h1* element that is a descendant of the *header* element. Set the text align property to center, padding to 3px 0 20px, color to #1C567E, and display the element inline-block. 
*/
header h1{
    text-align: center;
    padding: 2px 0 20px 0;
    color:#1C567E;
    display:inline-block;
}
    
    
/* TODO New Declaration: Select the *nav* element. Set the display of the element to inline-block, the overflow property to hidden, margin to 0 auto, the top margin to 30px, float it right. */
nav{
    display:inline-block;
    overflow:hidden;
    magin:0 auto;
    margin-top:30px;
    float:right;
}
    
/* TODO New Declaration: Select the *li* elements that are descendants of a *nav* element. Set the list style type property to none, padding to 20px and display the element inline. */
nav li{
    list-style: none;
    padding:20px;
    display:inline;
        
}

/* TODO New Declaration: Select all *a* elements that are descendants of an *li* element that is a descendant of a *nav* element. Set the padding to 10px, color to #000000, font size to 18px,  text transform property to uppercase, and text decoration property to none.  */
nav li a{
    padding:10px;
    color:#00000;
    font-size: 18px;
    text-transform:uppercase;
    text-decoration:none;
}


/* TODO New Declaration: Select all *section* elements and set the width to 559px, the padding to 20px, float them left, and set the text align property to center. */
section{
   width:559px;
   padding:20px;
   float:left;
   text-align:center;
}


/* TODO New Declaration: Select all elements that have a class of *right*. Add a right border with the following: solid 1px #1C567E. */
.right{
    border-right: solid 1px #1C567E;
}

/* TODO New Declaration: Select all elements that have a class of *bottom*. Add a bottom border with the following: solid 1px #1C567E. */
.bottom{
    border-bottom: solid 1px #1C567E;   
}

/* TODO New Declaration: Select all *button* elements. Set the width to 150px, padding to 10px, the top margin to 10px. Give the button a background color of #1C567E and color the text white. */
button{
    width:150px;
    padding:10px;
    margin-top:10px;
    background-color:#1C567E;
    color: white;
}


/* TODO New Declaration: Select the *footer* element. Set the height to 100px, use the clear property to clear both sides. Set the background color to #1C567E and align the text to the center. */
footer{
    height:100px;
    clear:both;
    background-color:#1C567E;
    text-align: center;
}

/* TODO New Declaration: Select the *p* elements that are descendants of the *footer* element. Set the top padding property to 50px and color the text white. */
footer p{
    padding-top:50px;
    color:white;
}

/* TODO New Declaration: Select all *h3* and button *elements* and uppercase their text. */
h3, button{
    text-transform:uppercase;
    
}

/* TODO New Media Query: Test for a max-width less than 600px and onlly for the screen media type. Don't forget the opening brace. */
@media screen and (max-width: 600px){
    /* TODO New Declaration in Media Query: Select the *h1* element that is a descandant of the *header* element. Set the display back to block, reset the padding to 0 */
    header h1{
     display:block;
     padding:0;
    }
    /* TODO New Declaration in Media Query: Select the *nav* element. Set float to none and reset the margin to 0. */
    nav{
     float:none;
     margin:0px;

    }
  
    /* TODO New Declaration in Media Query: Select the *li* elements that are descendants of a *nav* element.  Set the display back to block, and the padding to 0. */
    nav li{
     display:block;
     padding:0;
    }
  
    /* TODO New Declaration in Media Query: Select all *section* elements and set the width to 360px, remove the float, and set a solid 1px top border colored #1C567E. */
    section{
     width:70vw;
     float:none;
    }
  
    /* TODO New Declaration in Media Query: Select all elements that have a class of *right*. Remove the border. */
    .right{
     border:0px;   
    }

    /* TODO New Declaration in Media Query: Select all elements that have a class of *bottom*. Remove the border. */
    .bottom{
     border:0px;   
    }
    
    /* TODO New Declaration in Media Query: Select the footer and img and set their width to 350px   */
    footer, img{
     width:80vw; 
     
    }
    /* TODO New Declaration in Media Query: Select the header, footer and section and set their margin to auto   */
    header, footer, section{
        margin: auto;
    }
    /* TODO New Declaration in Media Query: Select the body, set the text-align to center and the width to 600px;   */
    body{
        text-align: center;
        width: 90vw;
    }
    img{
        50vw;
    }

}
/* TODO Brace: Add a closing brace for the media query. */